<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <!-- Debug builds only (this file is not part of the release build): shows a fake pill so it can be
             tried without waiting for a real agent. See android/README.md. -->
        <receiver
            android:name=".app.DebugPillReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver" />
    </application>
</manifest>
